# Ignore files not needed for the website
.DS_Store
AGENTS.md
HKSY.pdf
Qijia_PhD_CV (2).pdf
Screenshot*
!Screenshot 2026-03-02 at 17.26.00.png
Desktop/
Documents/
../
../../
*.py
*.R
*.pdf
*.docx
*.doc
*.txt
*.csv
*.json
!assets/
!css/
!js/
!index.html
!README.md